<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">The average graduate has $28,000 of student loan debt.</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">We are not saying college is bad. We are saying the full price of college is often misunderstood. Our mission is to solve this problem.</p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Step 1: Calculate</h3>
                <p class="text-gray-500 dark:text-gray-400">Enter your information and our program with analyze the return on investment for your college education.</p>
            </div>
            <div>

                <h3 class="mb-2 text-xl font-bold dark:text-white">Step 2: Talk to our AI assistant</h3>
                <p class="text-gray-500 dark:text-gray-400">Explore all education options to ensure you get a return on your investment in college.</p>
            </div>
            <div>                  

                <h3 class="mb-2 text-xl font-bold dark:text-white">Step 3: Connect with counselors!</h3>
                <p class="text-gray-500 dark:text-gray-400">Choosing the right educational path requires expertise, and we plan to provide you with the experts that will lead you in the right direction.</p>
            </div>
            
        </div>
    </div>

    
  </section>